<!--   <% if @events %>
    <% @events.each do |event| %>
      <ul id='eventsList'>
        <li><%= event.name %> | <%= event.location %> | <%= event.starts_at %> - <%= event.ends_at %><br><a href='/edit/<%= event.id %>'>edit</a> | <a href='/delete/<%= event.id %>'>delete</a></li>
        <li id='ajax'></li>
      </ul>
    <% end %>
  <% end %> -->
